In [2]:
# export BLS_API_KEY # bls key not exported to system command line, trying to do it without it

import pandas as pd
import matplotlib as plt
import numpy as np
import bls

In [7]:
# wages = bls.get_series('CIU2020000000000A')
# wagesread=pd.read(wages)
# wages.head(-5)

No Data Available for Series CIU2020000000000A Year: 2023

In [9]:
cpi = bls.get_series("CIU2020000000000A")
cpi.to_csv('cpi_data.csv')
cpi_data = pd.read_csv('cpi_data.csv')
cpi_data.columns = 'Date', 'CPI'

# cpi_data.head()
cpi_data

No Data Available for Series CIU2020000000000A Year: 2023

      Date  CPI
0   2014Q1  1.7
1   2014Q2  1.9
2   2014Q3  2.3
3   2014Q4  2.2
4   2015Q1  2.8
5   2015Q2  2.2
6   2015Q3  2.1
7   2015Q4  2.1
8   2016Q1  2.0
9   2016Q2  2.6
10  2016Q3  2.4
11  2016Q4  2.3
12  2017Q1  2.6
13  2017Q2  2.4
14  2017Q3  2.6
15  2017Q4  2.8
16  2018Q1  2.9
17  2018Q2  2.9
18  2018Q3  3.1
19  2018Q4  3.1
20  2019Q1  3.0
21  2019Q2  3.0
22  2019Q3  3.0
23  2019Q4  3.0
24  2020Q1  3.3
25  2020Q2  2.9
26  2020Q3  2.7
27  2020Q4  2.8
28  2021Q1  3.0
29  2021Q2  3.5
30  2021Q3  4.6
31  2021Q4  5.0
32  2022Q1  5.0
33  2022Q2  5.7
34  2022Q3  5.2
35  2022Q4  5.1